#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --bin autorecord --bin cue_creator

override_dh_auto_install:
	install -D -m 0755 target/release/autorecord debian/hifiberry-autorec/usr/bin/autorecord
	install -D -m 0755 target/release/cue_creator debian/hifiberry-autorec/usr/bin/cue_creator
	install -D -m 0644 man/autorecord.1 debian/hifiberry-autorec/usr/share/man/man1/autorecord.1
	install -D -m 0644 man/cue_creator.1 debian/hifiberry-autorec/usr/share/man/man1/cue_creator.1

override_dh_auto_test:
	# Skip tests

override_dh_auto_clean:
	cargo clean || true
